.form {
    width: 350px;
}

.formField {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    margin-bottom: 6px;

    label {
        margin-right: 6px;
    }

    input {
        height: 20px;
    }

    select {
        height: 30px;
    }
}

.householdMember {
    margin-bottom: 30px;
}

.formActions {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formAction {
    width: 50%;
    height: 40px;
}

.addMember {
    margin-top: 10px;
    margin-bottom: 40px;
}

.submit {
    width: 100%;
}